
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<div class="panel panel-default">
    <div class="panel-body">


        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody>


                    @foreach (var customer in ViewBag.customers)
                    {
                        <tr>
                            <td>@Html.ActionLink(@customer.Name, "Details", "Customers")</td>
                        </tr>

                    }  

                
               
            </tbody>
        </table> 
       
    </div>
</div>

